.item {
    width: 70%;
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.item_content {
    display: flex;
}
.profile_ava {
    width: 40px;
    border-radius: 50%;
}
.message {
    padding: 5px;
}
.like {
    width: 40px;
    margin-top: 5px;
    padding: 2px;
    border-radius: 10%;
    background-color: #4d5154;
    text-align: start;
}
