.nav {
    grid-area: nav;
}
.item {
    font-weight: 600;
    padding: 5px;
    text-transform: uppercase;
}

.item a {
    color: #78888a;
    text-decoration: none;
}

.item a.activeLink {
    color: white;
}
