* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
.wrapper {
    color: white;
    display: grid;
    grid-template-areas:
        "head head"
        "nav content"
        "foot foot";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    height: 100vh;
}

.main {
    grid-area: content;
}
